html {
    font-size: 16px;
    background-color: silver;
}

header {
    color: black;
    text-align: center;
}

.class h2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.linkedin h2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#aggie {
    color: maroon;
}

footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    bottom: 0px;
}